# Terraform / Terragrunt
.terraform/
.terragrunt-cache/
*.tfstate
*.tfstate.*
crash.log
*.log
*.tfplan
*.zip
*.backup
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terragrunt-cache/
